* {
  box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0; 
  padding: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonElements {
  display: flex;
  flex-direction: column;  
  background-color: hsl(220, 14%, 12%);
  padding-bottom: 2em;
}

.buttonElements button {
  margin-top: 1em;
  font-size: 3vw;
}

.DDLElements {
  display: flex;
  flex-direction: column;
}

.DropdownElement {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  margin-top: 2em;
}

.DropdownElement label {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 0.5em; */
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  /* background-color: rgb(177, 104, 104); */
  min-height: 10vh;
  flex: 1; 
}

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

.feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


