* {
  /* box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0; 
  padding: 0; */
}

.App {
  /* text-align: center;
  display: flex;  
  flex-direction: column; */
  border: 1px solid #61dafb;
  max-width: 560px;
  margin: 0 auto;
  min-height: 100vh;
}

Body {
  font-size: 1.125rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container { /* Aux space footer fix to the bottom */
  /* background-color: rgb(177, 104, 104); */
  min-height: 100%;
  flex: 1; 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(26, 26, 26);
  color: white;
  text-align: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-size: 1rem;
  color: #bb8900;
}

h1 span{ 
  color: rgb(250, 250, 250);
}

.buttonElements {
  display: flex;
  flex-direction: column;  
  background-color: hsl(220, 14%, 12%);
  padding-bottom: 2em;
}

.buttonElements button {
  margin-top: 1em;
  font-size: 3vw;
  height: 100px;
}

.DDLElements {
  display: flex;
  flex-direction: column;
}

.DropdownElement {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  margin: 2em 2em 0 2em;
}

.DropdownElement label {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 0.5em; */
}

.DropdownElement select {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 0.5em; */
  height:50px;
  text-align: center;
  font-size: 3vw;
  background-color: rgb(32, 32, 32);
  color:rgb(177, 177, 177);
  border-radius:6px;
}


